@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    background: #181821;
}

.divLoginBtns {
    width: 93vw;
}

.whiteLoguinBtn {
    transition: .4s ease;
}

.WLB_left_transition {
    margin-left: 11.3rem;
}

.h-18 {
    height: 70px;
}

.bg-soft-black {
    background: #14141b;
}

.emailIcon {
    filter: invert(1); 
}

.passwordIcon {
    filter: invert(1);
}

#myElement {
    transition: .4s ease;
}