<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="w-full h-auto px-7 bg-white">
    <header class="w-full h-auto flex flex-col pt-5 mb-5">
        <article class="w-full justify-between flex items-end mb-4">
            <div class="flex flex-col">
                <p class="text-gray-400 text-sm">Location</p>
                <div class="flex items-center">
                    <img class="h-5" src="https://img.icons8.com/?size=50&id=7880&format=png" alt="">
                    <p>Resende, RJ</p>
                </div>
            </div>
            <img class="h-6" src="https://img.icons8.com/?size=50&id=11668&format=png" alt="">
        </article>
        <div class="w-full flex h-auto items-center justify-between gap-3">
            <div class="w-full h-12 flex bg-gray-200 px-3 py-3 rounded-lg gap-2 items-center">
                <img class="h-full" src="https://img.icons8.com/?size=50&id=132&format=png" alt="">
                <input class="bg-gray-200 outline-none" type="text" placeholder="Search Product">
            </div>
            <img class="cursor-pointer green-e rounded-lg px-1.5 py-1.5 h-11 w-auto"
            src="../static/icons/icons8-opções-de-ordenação-24.png" alt="">
        </div>
    </header>

    <article class="w-full h-36 bg-gray-200 rounded-xl py-8 flex justify-between pl-6 pr-4 items-center shadow-md">
        <div class="flex flex-col items-start">
            <h1 class="font-semibold text-xl mb-1">Order Now!</h1>
            <p class="text-sm text-gray-400 leading-none font-medium mb-3">Discount 50% only today</p>
            <button class="w-auto h-auto py-1 px-3 green-e rounded-full text-xs text-gray-100 font-medium" type="button">
                Shop Now
            </button>
        </div>
        <img class="h-full" src="https://ouch-cdn2.icons8.com/YTTdnza6XoO-rI5LZjciAbcMYlRXzQ8i6DjeBQcjjK4/rs:fit:368:207/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvMTM1/L2NkMjEzNGNjLWMy/MWUtNDc5My1iZmIz/LTY2MGM5YTI3MjI3/MS5wbmc.png" alt="">
    </article>
    <div class="w-full justify-center items-center gap-2 flex my-4">
        <div class="w-2.5 h-2.5 green-e rounded-full cursor-pointer"></div>
        <div class="w-2.5 h-2.5 bg-gray-200 rounded-full cursor-pointer"></div>
        <div class="w-2.5 h-2.5 bg-gray-200 rounded-full cursor-pointer"></div>
    </div>

    <section class="w-full flex-col h-auto gap-4 flex mb-5">
        <div class="w-full flex justify-between px-1 items-center h-auto">
            <h1 class="text-md font-medium">Category</h1>
            <p class="text-sm text-gray-400">See All</p>
        </div>
        <section class="w-full h-auto overflow-hidden flex gap-3 justify-between  px-3">
            <div class="flex flex-col items-center gap-1">
                <div class="w-14 h-14 rounded-full bg-gray-200 px-3.5 py-3 flex jutify-center items-center cursor-pointer">
                    <img src="../static/icons/icons8-burguer-96.png" alt="">
                </div>
                <h5 class="font-medium text-sm">Snack</h5>
            </div>

            <div class="flex flex-col items-center gap-1">
                <div class="w-14 h-14 rounded-full bg-gray-200 px-3.5 py-3 flex jutify-center items-center cursor-pointer">
                    <img src="../static/icons/icons8-refrigerante-100.png" alt="">
                </div>
                <h5 class="font-medium text-sm">Drink</h5>
            </div>

            <div class="flex flex-col items-center gap-1">
                <div class="w-14 h-14 rounded-full bg-gray-200 px-3.5 py-3 flex jutify-center items-center cursor-pointer">
                    <img src="../static/icons/icons8-rebuçado-100.png" alt="">
                </div>
                <h5 class="font-medium text-sm">Dessert</h5>
            </div>
            
            <div class="flex flex-col items-center gap-1">
                <div class="w-14 h-14 rounded-full bg-gray-200 px-3.5 py-3 flex jutify-center items-center cursor-pointer">
                    <img src="../static/icons/icons8-salada-100.png" alt="">
                </div>
                <h5 class="font-medium text-sm">Salad</h5>
            </div>
        </section>
    </section>
    
    <div class="w-full px-2 mb-2">
        <h1 class="font-medium text-md">Explore</h1>
    </div>

    <section class="w-full flex justify-between px-2 mb-5">
        <div class="w-auto h-auto px-4 py-1 green-e rounded-full flex justify-center items-center">
            <h4 class="text-sm font-semibold text-gray-100">All</h4>
        </div>
        <div class="w-auto h-auto px-4 py-1 bg-gray-200 rounded-full flex justify-center items-center">
            <h4 class="text-sm font-semibold">Newest</h4>
        </div>
        <div class="w-auto h-auto px-4 py-1 bg-gray-200 rounded-full flex justify-center items-center">
            <h4 class="text-sm font-semibold">Popular</h4>
        </div>
        <div class="w-auto h-auto px-4 py-1 bg-gray-200 rounded-full flex justify-center items-center">
            <h4 class="text-sm font-semibold">Snacks</h4>
        </div>
    </section>

    
    <main class="grid grid-cols-2 w-full h-auto gap-x-3 gap-y-3 mb-12 relative">
        <div class="card w-full h-40 rounded-xl bg-gray-100 flex items-start justify-center relative pt-3 ">
            <img class="cardImg h-28 w-40" src="../static/images/pngwing.com.png" alt="">
            <button class="readmoreBtn bottom-0 absolute right-0 green-e rounded-br-none text-white px-2 text-sm py-1 rounded-full">Read more</button>
            <img class="addToCartBtn absolute left-1 bottom-1 px-1 py-1 w-6 green-e rounded-full rounded-full" src="../static/icons/icons8-carrinho-de-compras-24.png" alt="">
        </div>
        <div class="card w-full h-40 rounded-xl bg-gray-100 flex items-center justify-center relative pb-3">
            <img class="cardImg h-32 w-32" src="../static/images/pngwing.com (2).png" alt="">
            <button class="readmoreBtn bottom-0 absolute right-0 green-e rounded-br-none text-white px-2 text-sm py-1 rounded-full">Read more</button>
            <img class="addToCartBtn absolute left-1 bottom-1 px-1 py-1 w-6 green-e rounded-full rounded-full" src="../static/icons/icons8-carrinho-de-compras-24.png" alt="">
        </div>
        <div class="card w-full h-40 rounded-xl bg-gray-100 flex items-center justify-center relative pb-3">
            <img class="cardImg h-20 w-28" src="../static/images/pngwing.com (1).png" alt="">
            <button class="readmoreBtn bottom-0 absolute right-0 green-e rounded-br-none text-white px-2 text-sm py-1 rounded-full">Read more</button>
            <img class="addToCartBtn absolute left-1 bottom-1 px-1 py-1 w-6 green-e rounded-full rounded-full" src="../static/icons/icons8-carrinho-de-compras-24.png" alt="">
        </div>
        <div class="card w-full h-40 rounded-xl bg-gray-100 flex items-center justify-center relative">
            <img class="cardImg h-24 w-28" src="../static/images/pngwing.com (5).png" alt="">
            <button class="readmoreBtn bottom-0 absolute right-0 green-e rounded-br-none text-white px-2 text-sm py-1 rounded-full">Read more</button>
            <img class="addToCartBtn absolute left-1 bottom-1 px-1 py-1 w-6 green-e rounded-full rounded-full" src="../static/icons/icons8-carrinho-de-compras-24.png" alt="">
        </div>
        <div class="card w-full h-40 rounded-xl bg-gray-100 flex items-center justify-center relative">
            <img class="cardImg h-24 w-16" src="../static/images/pngwing.com (6).png" alt="">
            <button class="readmoreBtn bottom-0 absolute right-0 green-e rounded-br-none text-white px-2 text-sm py-1 rounded-full">Read more</button>
            <img class="addToCartBtn absolute left-1 bottom-1 px-1 py-1 w-6 green-e rounded-full rounded-full" src="../static/icons/icons8-carrinho-de-compras-24.png" alt="">
        </div>
        <div class="card w-full h-40 rounded-xl bg-gray-100 flex items-center justify-center relative pb-4">
            <img class="cardImg h-32 w-28" src="../static/images/pngwing.com (7).png" alt="">
            <button class="readmoreBtn bottom-0 absolute right-0 green-e rounded-br-none text-white px-2 text-sm py-1 rounded-full">Read more</button>
            <img class="addToCartBtn absolute left-1 bottom-1 px-1 py-1 w-6 green-e rounded-full rounded-full" src="../static/icons/icons8-carrinho-de-compras-24.png" alt="">
        </div>
        <div class="card w-full h-40 rounded-xl bg-gray-100 flex items-center justify-center relative pb-4">
            <img class="cardImg h-24 w-32" src="../static/images/pngwing.com (8).png" alt="">
            <button class="readmoreBtn bottom-0 absolute right-0 green-e rounded-br-none text-white px-2 text-sm py-1 rounded-full">Read more</button>
            <img class="addToCartBtn absolute left-1 bottom-1 px-1 py-1 w-6 green-e rounded-full rounded-full" src="../static/icons/icons8-carrinho-de-compras-24.png" alt="">
        </div>
        <div class="card w-full h-40 rounded-xl bg-gray-100 flex items-center justify-center relative pb-4">
            <img class="cardImg h-32 w-32" src="../static/images/pngwing.com (9).png" alt="">
            <button class="readmoreBtn bottom-0 absolute right-0 green-e rounded-br-none text-white px-2 text-sm py-1 rounded-full">Read more</button>
            <img class="addToCartBtn absolute left-1 bottom-1 px-1 py-1 w-6 green-e rounded-full rounded-full" src="../static/icons/icons8-carrinho-de-compras-24.png" alt="">
        </div>
        <div class="card w-full h-40 rounded-xl bg-gray-100 flex items-center justify-center relative pb-4">
            <img class="cardImg h-24 w-24" src="../static/images/pngwing.com (12).png" alt="">
            <button class="readmoreBtn bottom-0 absolute right-0 green-e rounded-br-none text-white px-2 text-sm py-1 rounded-full">Read more</button>
            <img class="addToCartBtn absolute left-1 bottom-1 px-1 py-1 w-6 green-e rounded-full rounded-full" src="../static/icons/icons8-carrinho-de-compras-24.png" alt="">
        </div>
        <div class="card w-full h-40 rounded-xl bg-gray-100 flex items-center justify-center relative pb-4">
            <img class="cardImg h-28 w-28" src="../static/images/pngwing.com (13).png" alt="">
            <button class="readmoreBtn bottom-0 absolute right-0 green-e rounded-br-none text-white px-2 text-sm py-1 rounded-full">Read more</button>
            <img class="addToCartBtn absolute left-1 bottom-1 px-1 py-1 w-6 green-e rounded-full rounded-full" src="../static/icons/icons8-carrinho-de-compras-24.png" alt="">
        </div>
    </main>

    <footer class="w-full h-10 green-e absolute left-0 flex justify-center items-center">
        <p class="text-white font-light text-sm">&copy; 2024 Rafael. Todos os direitos reservados.</p>
    </footer>

    <img class="addToCartBtn fixed left-3 bottom-3 w-9 px-2 py-2  green-e rounded-full rounded-full" src="../static/icons/icons8-carrinho-de-compras-24.png" alt="">
    <style>

        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        * {
            font-family: "Poppins", sans-serif;
        }

        .green-e {
            background: #3baea0;
        }

    </style>

    <script src="../static/js/script.js"></script>
</body>
</html>