<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css"">
</head>
<body class="w-full h-min-full pt-8 px-3 flex flex-col">
    <h1 class="text-white text-5xl font-semibold mb-10 px-1">Welcome, <span></span></h1>


    <script src="/ex37_s/static/js/script.js"></script>
</body>
</html>