<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="w-full h-min-full pt-4 px-8 flex flex-col items-center">
    <img src="../static/img/Group discussion-pana (1).png" alt="">
    <div class="w-full h-auto flex flex-col items-center gap-6">
        <h1 class="text-white text-4xl font-semibold text-center">Social Chatter <span class="text-purple-500">Team</span></h1>
        <p class="text-white text-opacity-60 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat perspiciatis dolore explicabo, unde ex, consequatur in officia provident.</p>
    </div>
    <article class="divLoginBtns absolute bottom-0 h-16 rounded-full flex items-center bg-gray-700">
        
    </article>
</body>
</html>