<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="w-full h-min-full pt-8 px-3 flex flex-col">
    <h1 class="text-white text-5xl font-semibold mb-10 px-1">Let's get <br>started </h1>

    <form id="sign_up_form" action="" method="POST" class="signInInputsDiv w-full h-auto flex flex-col gap-4">
        <div class="w-full rounded-full h-18 bg-gray-800 border border-solid border-gray-600 flex items-center px-6 gap-6">
            <img class="emailIcon w-7 h-7 opacity-80" src="../static/icons/icons8-gmail-logo-50.png" alt="">
            <input required name="email" class="email w-full h-full bg-gray-800 outline-none text-white text-lg" type="email" placeholder="E-mail">
        </div>
        <div class="w-full rounded-full h-18 bg-gray-800 border border-solid border-gray-600 flex items-center px-6 gap-6">
            <img class="passwordIcon w-7 h-6 opacity-80" src="../static/icons/icons8-trancar-50.png" alt="">
            <input required class="password w-full h-full bg-gray-800 outline-none text-white text-lg" type="password" placeholder="Password">
        </div>
        <div class="w-full rounded-full h-18 bg-gray-800 border border-solid border-gray-600 flex items-center px-6 gap-6">
            <img class="passwordIcon w-7 h-6 opacity-80" src="../static/icons/icons8-trancar-50.png" alt="">
            <input required name="password" class="w-full h-full bg-gray-800 outline-none text-white text-lg" type="password" placeholder="Confirm Password">
        </div>
        <button type="submit" class="submitSignUpBtn w-full rounded-full h-18 bg-white text-black font-semibold text-xl mt-12">
            Sign Up
        </button>
    </form>

    
    <div class="errorMessage w-full h-12 bg-red-500 text-white absolute top-0 left-0 hidden">

    </div>
    
    <div class="w-full flex justify-center items-center text-gray-400 my-4 font-semibold">
        or continue with
    </div>

    <div class="w-full rounded-full h-18 bg-soft-black border-2  border-solid border-gray-500 flex justify-center items-center gap-2">
        <img class="w-7 h-7" src="../static/icons/google.color.png" alt="">
        <h5 class="text-white font-normal">Google</h5>
    </div>

    <div class="w-full flex justify-center items-center my-6 px-3">
        <div id="myElement" class="{{ 'hidden' if not show_element else '' }} w-full h-12 border-2 border-red-500 rounded-md transition-all">

        </div>
        <a class="text-gray-400 absolute" href="{{url_for('sign_in')}}">Already have an account? <span class="text-white font-normal">Login</span>
        </a>
    </div>

  


    <script src="/ex37_s/static/js/script.js"></script>
</body>
</html>