<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="w-full h-screen bg-gray-200">
    <main class="w-full h-screen flex flex-col items-center px-5 py-4">
        <header class="w-full h-auto flex flex-col items-center mb-7">
            <nav class="w-full h-auto flex justify-between items-center  mb-7">
                <img class="w-10" src="https://imgs.search.brave.com/VjMhS82GtVEexdzTNvqPsMJo_sKYze13ty9qNHmWiPQ/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pY29u/cy52ZXJ5aWNvbi5j/b20vcG5nLzEyOC9t/aXNjZWxsYW5lb3Vz/L21vbm9jaHJvbWUt/bGluZWFyLWljb24t/bGlicmFyeS9tZW51/LTExNC5wbmc" alt="">
                <img class="w-8" src="https://imgs.search.brave.com/aKH-B_6dhQEBitXRi96Plfqv4MuLgOooDrCs_ZBweKo/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4z/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvaWNvbmljLTEv/MzIvdXNlci0xMjgu/cG5n" alt="">
            </nav>
            <article class="w-full h-36 bg-blue-400 rounded-xl shadow-md flex items-center px-12 py-5 justify-between relative overflow-hidden">
                <div class="absolute -bottom-9 -left-9 rounded-full bg-blue-800 w-32 h-32 bg-opacity-40">

                </div>
                <h1 class="text-white font-semibold text-2xl leading-none z-10">
                    Choose your <br> favorite food!
                </h1>
                <img class="h-full" src="https://ouch-cdn2.icons8.com/oFqStrhUcZqm8mzJxClZtzj9KobwcSCrDWV1SSMII28/rs:fit:368:364/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNDk4/L2U5NWY0NzM4LWJk/YjUtNGRlNC04YjU1/LWViNTVlMjQ0NjE2/MS5wbmc.png" alt="">
            </article>
        </header>
        <div class="w-full h-auto grid grid-cols-1 mb-12">
            <div class="w-full h-10 flex justify-center gap-20 mb-7">
                <img class="bg-white rounded-full px-1 py-1" src="https://ouch-cdn2.icons8.com/ZW_TjptPjFNkN9IYCxuK0t0m1MvRjOduCKH0IkVW4mE/rs:fit:368:362/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNzM5/L2UzMjUzNDc4LWNh/ODUtNGMxNS05YTcz/LTkwMjYzY2RkMTEx/Yi5wbmc.png" alt="">
                <img class="bg-white rounded-full px-1 py-1" src="https://ouch-cdn2.icons8.com/ZW_TjptPjFNkN9IYCxuK0t0m1MvRjOduCKH0IkVW4mE/rs:fit:368:362/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNzM5/L2UzMjUzNDc4LWNh/ODUtNGMxNS05YTcz/LTkwMjYzY2RkMTEx/Yi5wbmc.png" alt="">
                <img class="bg-white rounded-full px-1 py-1" src="https://ouch-cdn2.icons8.com/ZW_TjptPjFNkN9IYCxuK0t0m1MvRjOduCKH0IkVW4mE/rs:fit:368:362/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNzM5/L2UzMjUzNDc4LWNh/ODUtNGMxNS05YTcz/LTkwMjYzY2RkMTEx/Yi5wbmc.png" alt="">
                <img class="bg-white rounded-full px-1 py-1" src="https://ouch-cdn2.icons8.com/ZW_TjptPjFNkN9IYCxuK0t0m1MvRjOduCKH0IkVW4mE/rs:fit:368:362/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNzM5/L2UzMjUzNDc4LWNh/ODUtNGMxNS05YTcz/LTkwMjYzY2RkMTEx/Yi5wbmc.png" alt="">
            </div>
            
            <div class="w-full h-10 flex justify-center gap-20">
                <img class="bg-white rounded-full px-1 py-1" src="https://ouch-cdn2.icons8.com/ZW_TjptPjFNkN9IYCxuK0t0m1MvRjOduCKH0IkVW4mE/rs:fit:368:362/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNzM5/L2UzMjUzNDc4LWNh/ODUtNGMxNS05YTcz/LTkwMjYzY2RkMTEx/Yi5wbmc.png" alt="">
                <img class="bg-white rounded-full px-1 py-1" src="https://ouch-cdn2.icons8.com/ZW_TjptPjFNkN9IYCxuK0t0m1MvRjOduCKH0IkVW4mE/rs:fit:368:362/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNzM5/L2UzMjUzNDc4LWNh/ODUtNGMxNS05YTcz/LTkwMjYzY2RkMTEx/Yi5wbmc.png" alt="">
                <img class="bg-white rounded-full px-1 py-1" src="https://ouch-cdn2.icons8.com/ZW_TjptPjFNkN9IYCxuK0t0m1MvRjOduCKH0IkVW4mE/rs:fit:368:362/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNzM5/L2UzMjUzNDc4LWNh/ODUtNGMxNS05YTcz/LTkwMjYzY2RkMTEx/Yi5wbmc.png" alt="">
                <img class="bg-white rounded-full px-1 py-1" src="https://ouch-cdn2.icons8.com/ZW_TjptPjFNkN9IYCxuK0t0m1MvRjOduCKH0IkVW4mE/rs:fit:368:362/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNzM5/L2UzMjUzNDc4LWNh/ODUtNGMxNS05YTcz/LTkwMjYzY2RkMTEx/Yi5wbmc.png" alt="">
            </div>
        </div>

        <section class="w-full h-auto flex flex-col gap-3">
            <div class="w-full h-32 bg-white rounded-xl shadow-md flex py-6 justify-between px-4 burguerCard">
                <div class="flex gap-5">
                    <img class="h-full" src="https://ouch-cdn2.icons8.com/ZW_TjptPjFNkN9IYCxuK0t0m1MvRjOduCKH0IkVW4mE/rs:fit:368:362/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNzM5/L2UzMjUzNDc4LWNh/ODUtNGMxNS05YTcz/LTkwMjYzY2RkMTEx/Yi5wbmc.png" alt="">
                    <div class="flex flex-col mt-1 datas">
                        <h3 class="dataName" data-name="Super Burguer">Super Burguer</h3>
                        <p class="dataPrice" data-price="39.99">R$ 39,99</p>
                        <p class="dataPlace" data-place="Mc Donald's">Mc Donald's</p>
                    </div>
                </div>

                <div class="flex h-full flex-col justify-end  w-auto">
                    <p >Quantity:<span class="dataQuantity" data-quantity="1">1</span></p>
                    <button class="w-32 h-8 bg-blue-500 rounded-sm text-white" type="button" data-name-button="it works" id="myBtn">Buy it</button>
                </div>
            </div>

        </section>
    </main>

    <script>
        const myBtn = document.querySelector('#myBtn')
        myBtn.addEventListener('click', function(event){
            //let dataName = event.target.getAttribute('data-name');
            dataName = document.querySelector('.dataName').getAttribute('data-name');
            dataPrice = document.querySelector('.dataPrice').getAttribute('data-price');
            dataPlace = document.querySelector('.dataPlace').getAttribute('data-place')

            dataQuantity = document.querySelector('.dataQuantity').getAttribute('data-quantity')

            fetch('/get_data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                        dataName: dataName,
                        dataPrice: dataPrice,
                        dataPlace: dataPlace,
                        dataQuantity: dataQuantity
                    }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Resposta do servidor:', data.message);
            });
        })
    </script>
</body>
</html>