<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="w-full h-creen bg-gray-200 flex flex-col items-center">
    <div class="w-full h-24 bg-gray-400 topDecoration ">
    </div>

    <form class="w-full h-auto px-3 flex flex-col items-center pt-16" method="POST">
        <img class="bg-gray-400 rounded-full w-20 h-auto px-3 py-3 mb-5" src="icons/icons8-usuário-30.png" alt="">
        <input name="create_nickname" class="w-full h-14 bg-gray-600 outline-none px-3 text-white rounded-md mb-1" type="text">
        <input name="create_password" class="w-full h-14 bg-gray-600 outline-none px-3 text-white rounded-md mb-2" type="text">
        <button type="submit" class="w-full h-14 bg-gray-800 outline-none px-3 text-white rounded-md">Sign Up</button>
    </form>
</body>
</html>